---
# \========== rpm based ===============
- name: rpm based
  block:
  - name: delete all old docker packages
    block:
      - name: delete all old docker packages
        dnf:
          name:
            - docker
            - docker-client
            - docker-client-latest
            - docker-common
            - docker-latest
            - docker-latest-logrotate
            - docker-logrotate
            - docker-engine
            - podman
            - runc
            - docker-ce
            - docker-ce-cli
          state: absent

      - name: delete old docker compose plugin
        file:
          path: /usr/local/lib/docker/cli-plugins/docker-compose 
          state: absent

  - name: check docker
    block:
      - name: check if docker is already installed
        shell: rpm -qa | grep docker
        register: docker_check
        ignore_errors: true

      - name: return docker status
        debug:
          msg: "Docker is already installed!"
        when: docker_check.rc == 0

      - name: return docker status
        debug:
          msg: "Docker is not install!"
        when: docker_check.rc == 1

  - name: others
    block:
      - name: install prerequisites
        dnf:
          name:
            - dnf-utils
            - ca-certificates
          state: present

      - name: add repo
        shell: "sudo dnf config-manager --add-repo {{ docker_yum_repo_url }}"  
    when: docker_check.rc != 0

  - name: install latest version
    dnf:
      name:
        - docker-ce
        - docker-ce-cli
      state: present
    become: yes
    when: docker_check.rc != 0
  
  - name: install docker compose plugin
    include_tasks: install_docker_compose_plugin.yml
    when: docker_check.rc != 0

  when: ansible_os_family == "RED"
#======= rpm based ============/
#\========== deb based ===============
- name: deb based
  block:
  - name: delete all old docker packages
    block:
      - name: delete all old docker packages
        apt:
          name:
            - docker.io
            - docker-compose
            - docker-compose-v2
            - docker-doc
            - podman-docker
            - containerd
            - runc
            - docker-ce
            - docker-ce-cli
          state: absent

      - name: delete old docker compose plugin
        file:
          path: /usr/local/lib/docker/cli-plugins/docker-compose 
          state: absent

  - name: check docker 
    block:
      - name: check if docker is already installed
        shell: systemctl | grep docker.service
        register: docker_check
        ignore_errors: true

      - name: return docker status
        debug:
          msg: "Docker is already installed!"
        when: docker_check.rc == 0

      - name: return docker status
        debug:
          msg: "Docker is not install!"
        when: docker_check.rc == 1

  - name: others
    block:
      - name: install prerequisites
        apt:
          name:
            - ca-certificates
            - curl
            - gnupg
            - lsb-release
          state: present

      - name: add GPG key for docker
        shell: |
          install -m 0755 -d /etc/apt/keyrings
          curl -fsSL {{ docker_apt_repo_url }}{{ ansible_facts.distribution | lower }}/gpg -o /etc/apt/keyrings/docker.asc
          chmod a+r /etc/apt/keyrings/docker.asc
        become: yes

      - name: create file for docker repo
        file:
          path: /etc/apt/sources.list.d/docker.sources
          state: touch
          mode: u=rw,g=r,o=r

      - name: content for docker repo
        copy:
          dest: /etc/apt/sources.list.d/docker.sources
          content: |
            Types: deb
            URIs: {{ docker_apt_repo_url }}{{ ansible_facts.distribution | lower }}
            Suites: {{ ansible_facts.distribution_release}}
            Components: stable
            Signed-By: /etc/apt/keyrings/docker.asc 

      - name: update cache
        apt:
          update_cache: yes
    when: docker_check.rc != 0

  - name: install docker specific version or latest
    block:
      - name: install latest version
        apt:
          name:
            - docker-ce
            - docker-ce-cli
          state: present
    become: yes
    when: docker_check.rc != 0
  
  - name: install docker compose plugin
    include_tasks: install_docker_compose_plugin.yml
    when: docker_check.rc != 0
 
  when: ansible_os_family == "Debian"
# ========== deb based ===============\
# \========== for all ==============
- name: add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
#========== for all ==============\